.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #29d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}

.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-theme-corner-indicator-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

body > :not(.pace),body:before,body:after {
  -webkit-transition:opacity .4s ease-in-out;
  -moz-transition:opacity .4s ease-in-out;
  -o-transition:opacity .4s ease-in-out;
  -ms-transition:opacity .4s ease-in-out;
  transition:opacity .4s ease-in-out
}

body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
  opacity:0
}

section {
    background-color: #fff;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 18px;
}
p {
    font-size: 16px;
    line-height: 1.3;
}
span.quote {
	color: #d0d0d0;
	text-shadow: 1px 1px 4px #1f1616;
}
a {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.about-carousel .item .caption {
    color: white;
}
aside.cta-quote {
    background-attachment: inherit !important;
}
.pattern{
	background-size: inherit !important;
	background-color: #000;
	background-attachment: scroll !important;
	background-repeat: repeat !important;
}

/* Readabilty */
.cta-quote, footer{
	position: relative;
}
.overlay5{
	background-color: #1d1919;
	background-image: url('../img/pattern/overlay.jpg');
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
}
.navbar-inverse .navbar-brand {
    color: #289ff6;
}
.navbar-default .navbar-brand img, .navbar-inverse .navbar-brand img {
    color: #000;
}
.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
    color: #2ba4f6;
}
footer.footer .copyright p.small{
	color: #2ba4f6;
}
.img-centered {
    color: #703B3B;
}
.fa {
	color: #d0d0d0;
	text-shadow: 1px 1px 4px #1f1616;
}
.about-content .fa, .media .fa, h1, h2, h3, h4, h5, h6 {
	color: #383838;
    text-shadow: 0px 0px 2px #333333;
}
.footer h4, #pricing h2{
	color: #d0d0d0;
	text-shadow: 1px 1px 4px #1f1616;
}
.brand-name, .brand-name-subtext ,.bg-dark h3, .owl-item h3{
	color: #d0d0d0;
	text-shadow: 1px 1px 4px #1f1616;
}

.media-heading {
    margin-top: 15px;
}

@media only screen and (max-width: 496px){
	h1 {
    	font-size: 19px;
	}
	h2 {
	    font-size: 18px;
	}
	h3 {
	    font-size: 17px;
	}
	h4 {
	    font-size: 16px;
	}
	p {
    	font-size: 13px;
	}
	section {
    	padding: 15px 0;
	}
	.content-row {
	    margin-top: 0px;
	}
	aside.cta-quote {
	    padding: 50px 0;
	}
	.portfolio-carousel .item .project-details .project-name {
	    font-size: 23px;
	}
	p.lead {
	    font-size: 15px;
	}
	.owl-carousel .owl-wrapper-outer {
	    max-height: 300px;
	}
	.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
	    font-size: 14px;
	}
	.floating-label-form-group input, .floating-label-form-group textarea {
	    font-size: 1em;
	}
	.cta-form h3 {
	    margin-top: 0;
	    font-size: 16px;
	}
	header .brand-name {
    	font-size: 39px;
	}
	.portfolio-modal .modal-content h2 {
	    font-size: 30px;
	}
	footer.footer p {
	    font-size: 17px;
	}
	footer.footer .contact-details {
	    margin: 35px 0;
	}
	footer.footer {
	    padding: 0px;
	}
	footer.footer .social {
	    margin-bottom: 50px;
	}
	aside.cta-quote span.quote {
    	font-size: 20px;
	}
	.fa-4x {
	    font-size: 3em;
	}
	.about-content {
	    padding: 5px;
	}
	.services .media i.fa {
		height: 50px;
	    width: 50px;
	    line-height: 46px;
	    text-align: center;
	    border: 1px solid #222222;
	    border-radius: 100%;
	    font-size: 20px;
	}
	.services .media .media-body ul li {
	    margin-bottom: 3px;
	    font-size: 13px;
	}
	.services .media {
	    margin-bottom: 15px;
	}
	.portfolio-filter #filters li .filter {
	    padding: 6px 10px;
	}
}
